.input-group {
  width: 100%;

  align-items: center;
}
.inp {
  width: 80%;
  padding: 10px;
  margin-right: 5px;
}
.btn {
  width: 5%;
  height: 40px;
  border: none;
  color: white;
  background: lime;
}
