.container {
  width: 100%;
  align-items: center;
}
.item {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-top: 10px;
}
.btn-del {
  width: 33%;
  height: 40px;
  border: none;
  color: white;
  background: lightcoral;
  margin: 0px 5px;
}
.btn-edit {
  width: 33%;
  height: 40px;
  border: none;
  color: white;
  background: lightblue;
  margin: 0px 5px;
}
.btn-gr {
  width: 25%;
}
.done {
  text-decoration: line-through;
  opacity: 0.3;
}
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.popup-inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  background: white;
  border-radius: 5px;
}
.popup-inner label {
  margin: 10px 0;
  font-size: 30px;
  left: 0;
}
.ip-pop {
  padding: 10px;
}
.btn-gr-popup {
  position: absolute;
  bottom: 50px;
  right: 20px;
}
.btn-pop {
  border: none;
  padding: 10px;
  color: white;
  background: lightseagreen;
  border-radius: 5px;
}
.popup-close {
  position: absolute;
  right: 15px;
  top: 10px;
}
.close {
  font-size: 25px;
  cursor: pointer;
}
