.btn-group {
  margin: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-gr-left {
  width: 33%;
}
.btn-gr-right {
  width: 40%;
}
.btn-sort {
  width: 30%;
  height: 40px;
  border: none;
  color: white;
  background: lightskyblue;
  margin: 5px;
}
.btn-checkall {
  width: 30%;
  height: 40px;
  border: none;
  color: white;
  background: lightskyblue;
  margin: 5px;
}
.btn-delete-checked {
  width: 20%;
  height: 40px;
  border: none;
  color: white;
  background: lightcoral;
  margin: 5px;
}
.checked {
  padding-left: 80vw;
}
